!!!
%html
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title URL Shortener
    %link{:href => '/style.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
  %body
    .page
      = yield
